.login-container {
  align-items: center;
  background-color: #0f1823;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-container {
  background-color: #84b4ef;
  border-radius: 3px;
  display: flex;
  gap: 20px;
  height: 60vh;
  max-width: 700px;
  min-width: 550px;
  padding: 20px;
}

.titleIMG {
  position: relative;
  z-index: 1;
}

.walletIMG {
  transform: translateY(-100px);
}

.form-login {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-login {
  cursor: pointer;
  margin: 0 auto;
  padding: 9px 36px;
  width: fit-content;
}

.btn-login:disabled {
  cursor: not-allowed;
}
