.input {
  background-color: #2d2d2d;
  border: none;
  border-bottom: 4px solid black;
  border-radius: 3px;
  color: #f0f0f0;
  font-weight: 800;
  padding: 6px;
  position: relative;
  width: 100%;
}

.input:focus-visible {
  outline: none;
}

.input::placeholder {
  color: #f0f0f0;
}

.input:-webkit-autofill , .input:-webkit-autofill:hover {
  box-shadow: 0 0 0 1000px #2d2d2d inset;
  -webkit-text-fill-color: #e1e1dc;
}
